body{
    background-image:url("img/colour_bubble.jpg"), 
                     url("img/water_molecule_chemistry.jpg"), 
                     url("img/water_molecule_graphical.jpg"), 
                     url("img/water_molecule_picture.jpg");
    background-repeat:no-repeat;
    background-size:25% 50%;
    background-position:0% 0%, 33.33% 0%, 66.66% 0%, 100% 0%;
}
h1{
    color:red;
    background:yellow;
    border:5px solid green;
}
h2{
    color:white;
    background:blue;
    border:5px solid red;
}
p{
    color:blue;
}