body{
    background-image:url("img/colour_bubble.jpg");
    background-size:cover;
}
.box{
    width:500px;
    height:400px;
    margin:100px auto;
    border:5px solid #000;
    border-radius:20px;
    background-image:url("img/cartoon.jpg");
    background-size:contain;
    background-repeat:no-repeat;
    float: left;
}
.box h1, p{
    margin:20px, 40px;
    text-shadow:5px, 5px, 5px, #000;
}
h1{
    color:red;
    background:yellow;
    border:5px solid green;
}
h2{
    color:white;
    background:blue;
    border:5px solid red;
}
p{
    color:blue;
}