body{
    background-image:url("img/colour_bubble.jpg");
    background-size:cover;
}
.box{
    width:500px;
    height:250px;
    margin:200px auto;
    padding:15px;
    border-width: 10px;
    border-style:solid;
    border-color:#f00;
    border-radius:20px;
    overflow:auto;
}
.box h1, p{
    margin:20px;
    padding:10px 0px;
}
.box h1{
    border-left:50px solid green;
    border-right:20px solid blue;
    padding:0px 0px 0px 10px;
}
.box p{
    border-left:50px solid green;
    border-right:20px solid blue;
    padding:0px 0px 0px 10px;
}