.box{
    width:100px;
    height:100px;
    margin: 0px auto;
    float: left;
    text-align: center;
}
.box h1{
    width:100px;
    height:100px;
    background-image: conic-gradient(from 30deg at 50% 60%, red 0deg, red 90deg, yellow 90deg, yellow 180deg, green 180deg, green 270deg, blue 270deg, blue 360deg);
    font-size: 9em;
    float: left;
    margin-top: 5px;
    padding: 45px;
    -webkit-background-clip: text;
    color: transparent;
}